@import '../../../styles/variables';
@import '../../../styles/typography';

.logo-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-column: full-start / full-end;
  grid-row: 2/4;
  align-items: center;
  padding-top: 2rem;
  @media only screen and (max-width: $bp-largest){

  }
  &__logo {
    display: flex;
    justify-self: center;
    margin-bottom: 1rem;
    z-index: 10;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 1.8rem;
    grid-column: 1/2;
    font-style: italic;
    @media only screen and (max-width: $bp-largest){
      font-size: 2rem;
    }
  }
}
