@import '../../../styles/variables';
@import '../../../styles/typography';

.logo-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content;
  grid-column: full-start / full-end;
  grid-row: 2/3;
  margin-top:-10rem;
  align-items: center;

  @media only screen and (max-width: $bp-enormous){

  }

  @media only screen and (max-width: $bp-largest){

  }

  &__logo {
    display: flex;
    justify-self: center;

    z-index: 10;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666666;
    font-size: 1.8rem;
    grid-column: 1/2;
    font-style: italic;
    margin-top:-12rem;
    @media only screen and (max-width: $bp-largest){
      font-size: 2rem;
    }
  }
}
