@import '../../../styles/variables';
@import '../../../styles/typography';

.topic {
  display: grid;
  grid-row: 3 / 10;
  grid-column: 9/11;  
  padding-left: 3.2rem;

  position: relative;

  &__separator_black {
    width: 103%;
    margin: 2rem 0 1rem 0;
  }

  &::after {
    content: '';
    position: absolute;
    height: 104rem;
    width: 1px;
    background: #e9e9e9;
    top: 2rem;
    left: 1.5rem;
  }

   &__lifeStyle{
    padding-bottom: 2rem;
    position: relative;
    &::after {
      content: '>';
      position: absolute;
      left: 7rem;
      top: -.1rem;
      font-weight: 100;
    }
  }
}
