@import '../../../../../styles/variables';
@import '../../../../../styles/typography';

.subhead {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 7rem 2rem;
  
  margin-bottom: 2rem;
  position: relative;

  justify-content: space-between;

  &__header {
    font-size: 1.6rem;
    text-align: left;
    width: 95%;
  }
  
  &__img{
   height: 93%;
   min-width: 5rem;
   display: flex;
   justify-self: end;
  }

  &__author {
    font-size: 1.2rem;
    margin-top: -1rem;
  }
}