// COLOR VARIABLES
$color-primary: #2a2a2a;
$color-primary-header: #0d0e0e;

$color-secondary-header: #e8e6e3;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px / 16px = 75em
$bp-large: 62.5em; // 1000px / 16px = 62.5em
$bp-medium: 50em; // 800px / 16px = 50em
$bp-small: 37.5em; // 600px / 16px = 37.5em


