// COLOR VARIABLES
$color-primary: #2a2a2a;
$color-primary-header: #0d0e0e;

$color-secondary-header: #e8e6e3;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-enormous: 84.375em; // 1350 / 16px = 75em
$bp-largest: 75em; // 1200px / 16px = 75em
$bp-large: 62.5em; // 1000px / 16px = 62.5em
$bp-medium: 56.25em; // 900px / 16px = 56.25em
$bp-small: 43.75em; // 700px / 16px = 43.75em


