@import '../../../styles/variables';
@import '../../../styles/typography';

.section6 {
  display: grid;
  grid-column: full-start / full-end;
  grid-row: 37/38;

  @media only screen and (max-width: $bp-enormous) {
    grid-row: 35/36;
    margin-top: 2rem;
  }
  @media only screen and (max-width: $bp-largest) {
    grid-row: 58/59;
  }
  @media only screen and (max-width: $bp-large) {
    grid-row: 57/58;
  }
  @media only screen and (max-width: $bp-medium) {
    grid-row: 52/53;
    margin-top:-55rem;
  }
  @media only screen and (max-width: $bp-small) {
    display: grid;
    grid-row: 25/26;
  }
  @media only screen and (max-width: $bp-smallest) {
    grid-row: 58/59;
  }
}

