@import '../styles/variables.scss';
@import '../styles/typography';


.container {
  display: grid;
  grid-template-columns: [header-start] 1fr [full-start] repeat(2, 12.8rem) [center-start] 12.8rem [logo-start] repeat(4, 12.8rem) [logo-end] 12.8rem [center-end] repeat(2, 12.8rem) [full-end]1fr[header-end];
  grid-template-rows: 6rem min-content min-content 8rem repeat(20, 14rem);
}

