@import '../../../styles/variables';
@import '../../../styles/typography';

.header {
  display: grid;
  grid-template-columns: max-content 1fr minmax(21rem, max-content);
  grid-template-rows: 6.5rem;
  grid-column: header-start/header-end;
  grid-auto-flow: row;
  align-items: center;

  font-size: 1.5rem;
  font-weight: bold;
  background-color: $color-primary-header;
  color: #ffffff;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: max-content 1fr;
  }
  &__content {
    display: flex;

    list-style: none;
    justify-content: start;
    gap: 3.5rem;

    a:focus,
    a:visited,
    a:link,
    a:active {
      text-decoration: none;
      color: white;
    }
    @media only screen and (max-width: $bp-largest) {
      display: none;
    }
    @media only screen and (max-width: $bp-large) {
      display: none;
    }
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__icons {
    padding: 0 2.8rem;
    display: flex;
    gap: 2rem;
  }
  &__btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-weight: 300;
    &__signIn {
      background-color: $color-primary-header;
      transition: all 0.2s;
      &:hover {
        background-color: #373c3e;
      }
    }
    @media only screen and (max-width: $bp-largest) {
      justify-content: flex-end;
      margin-right: 2rem;
    }
  }
}
