@import '../../../../styles/variables';
@import '../../../../styles/typography';

.subhead {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: min-content min-content;
  justify-content: start;
  margin-bottom: 2rem;
  position: relative;
  // gap: 1.1rem;

  @media only screen and (max-width: $bp-enormous){

    
  }

  &__header {
    font-family: PostoniWide;
    font-size: 1.7rem;
    text-align: left;
    width: 95%;
    line-height: 2.1rem;
    &__author {
      font-size: 1.2rem;
      font-family: ITC_Franklin;
      color: #666666;
      margin-top:.5rem;
      margin-bottom: 1rem;
    }

    @media only screen and (max-width: $bp-enormous){
      font-size: 1.7rem;
      font-weight: 300;
    }
  }
  
  &__img{
   display: flex;
   height: 7rem;
   width: 7rem;
   object-fit: cover;

   @media only screen and (max-width: $bp-enormous){
    min-height: 6.4rem;
    min-width: 6.4rem;
    justify-self: end;
  }
  }


  &__separator_lightgrey {
    display: grid;
    grid-column: 1/-1;
    width: 103%;
    @media only screen and (max-width: $bp-enormous){
      position: absolute;
      width: 100%;
      margin-top: 14rem;
    }
  }

}