@import '../../../../../styles/variables';
@import '../../../../../styles/typography';

.subhead {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 7rem 2rem;
  padding-right:.5rem;
  justify-content: start;

  margin-bottom: 2rem;

  h3{
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
  }
  

}