@import '../../../styles/variables';
@import '../../../styles/typography';

.section2 {
  display: grid;
  grid-template-columns: 80% 21%;
  grid-column: full-start/full-end;
  grid-row: 25/26;
  margin-bottom: -50rem;
  &__two_articles {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  &__mini_articles {
    position: relative;
    padding-left: 3.2rem;
    margin-top: 2rem;
    &::after {
      content: '';
      position: absolute;
      height: 100rem;
      width: 0.1rem;
      background: #e9e9e9;
      top: 0rem;
      left: 1.5rem;
    }
  }

  &__enormousWidth {
    display: none;
  }

  &__mediumWidth {
    display: none;
  }

  &__column_border {
    background-color: black;
    width: 0.12rem;
    height: 15.5rem;
    margin: 0 1.5rem 0 1rem;
  }

  &__separator_full {
    display: grid;
    grid-column: 1/3;
    width: 99%;
    margin-top: 5rem;
  }

  &__separator_quarter {
    width: 98%;
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: $bp-enormous) {
    grid-row: 16/17;
    &__fullWidth {
      display: none;
    }

    &__enormousWidth {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column: 1/3;
      column-gap: 3rem;
      position: relative;
      //vertical line separator, first three articles possesses a line
      a:nth-child(odd) {
        &::after {
          content: '';
          position: absolute;
          height: 85rem;
          width: 1px;
          top: 8rem;
          left: 51rem;
          background: #e9e9e9;
        }
      }

      //horizontal line separator is non-existent for the last two articles
      a:not(:nth-last-of-type(-n + 2)):not(:first-child) {
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 5rem;
      }
    }

    &__separator_full {
      display: grid;
      grid-column: 1/3;
      width: 99%;
      margin-bottom: 3rem;
    }
  }

  @media only screen and (max-width: $bp-largest) {

    grid-row: 20/21;
    margin-bottom:-10rem;
    &__enormousWidth {
      position: relative;
      //vertical line separator, first three articles possesses a line
      a:nth-child(odd) {
        &::after {
          content: '';
          position: absolute;
          height: 100rem;
          width: 1px;
          top: 8rem;
          left: 47.5rem;
          background: #e9e9e9;
        }
      }
    }

    &__mediumWidth {
      display: none;
    }

    &__separator_full {
      width: 100%;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    display: grid;
    grid-row: 26/27;
    //horizontal line separator is non-existent for the last two articles
    a:not(:first-child){
      border-bottom: 1px solid #e9e9e9;
      padding-bottom:2rem;
      padding-top: 2rem;
    }
    &__enormousWidth {
      display: none;
    }
    &__mediumWidth {
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1/-1;
    }
  }
  @media only screen and (max-width: $bp-small) {
    grid-row: 21/22;

    &__enormousWidth {
      display: none;
    }
    &__mediumWidth {
      display: grid;
      grid-template-columns: 1fr;
      grid-column: 1/-1;
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-row: 26/27;
    margin-top: 10%;
    margin-bottom: -220rem;
  }
}
