@import '../../../styles/variables.scss';
@import '../../../styles/typography';

.headline {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1/3;
  gap: 1rem;
  text-align: center;
  text-decoration: none;
  margin-bottom: 2rem;

  &:focus,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color:black;
  }
  &:hover {
    color:#666666;
  }
  @media only screen and (max-width: $bp-enormous) {
    display: none;
  }
  h1 {
    font-size: 4.5rem;
  }

  p {
    font-family: ITC_Franklin;
    font-size: 2.5rem;
  }
}
